{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
    <article>
        <header>
            <h1>{{ page.title }}</h1>
        </header>
        <div>
            {{ page.blocks.content|raw }}
        </div>
        {% if page.categories %}
            <p class="categories">
            Categories:
            {% for category in page.categories %}
            <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}
        {% if page.tags %}
            <p class="tags">
            Tags:
            {% for tag in page.tags %}
            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            </p>
        {% endif %}

        {% if page.previous_post or page.next_post %}
            <nav class="article">
                <ul>
                    {% if page.next_post %}
                        <li>Next: <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
                    {% endif %}
                    {% if page.previous_post %}
                        <li>Previous: <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </article>


{% if site.disqus_shortname and site.disqus_shortname != '' %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{site.disqus_shortname}}';
    var disqus_identifier = '{% if page.disqus_identifier %}{{ page.disqus_identifier }}{% else %}{{ page.url }}{% endif %}';
    var disqus_url = '{{ site.url }}{{ page.url }}';
    {% if page.disqus.title %}var disqus_title = '{{page.disqus.title}}';{% endif %}
    {% if page.disqus.url %}var disqus_url = '{{page.disqus.url}}';{% endif %}
    {% if page.disqus.category_id %}var disqus_category_id = '{{page.disqus.category_id}}';{% endif %}
</script>
<noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered byDisqus.</a>
</noscript>
<script src="{{ site.url }}/assets/js/disqus-lazy/disqus-lazy.jquery.js" defer></script>
{% endif %}

{% endblock %}
