<!DOCTYPE html>
{% spaceless %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="0;url={{ page.destination }}" />
</head>
</html>
{% endspaceless %}
