---
layout: default
title: Recipes
use:
  - recipes
  - recipes_tags
---
<header>
    <h2>Recipes</h2>
</header>
<ul>
    {% for recipe in data.recipes %}
    <li><a href="{{ recipe.url }}">{{ recipe.title }}</a></li>
    {% endfor %}
</ul>
